  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #259f88;
    font-size: 1.5vw;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 30px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #0f3e50;
    color: #ffffff;
  }

  body {
    font-family: Garamond;
    text-align: center;
    font-size: 3vw;
    line-height: 0.5;
  }
